.menu-size{
    // margin-bottom: 5%;
    width: 100%;
    font-size: 12px;
    margin-left: 30px;
    cursor: pointer;
    @media screen and (max-width: 450px){
        margin-left: 5px;
    }
}
.menu-languaje{
    width: 100%;
    font-size: 12px;
    margin-left: 30px;
    @media screen and (max-width: 450px){
        margin-left: 10px;
    }
}
.selector-languaje{
    border: none;
    outline: none;
    cursor: pointer;
}
.normal-icon{
    width: 15px;
    margin-right: 20px;
    @media screen and (max-width: 450px){
        width: 15px;
    }
}
.icon-small{
    width: 17%;
    @media screen and (max-width: 450px){
        content: url('../icons/bars.svg');
        width: 25px;
        margin-left: 20px;
    }
}