.menulateral-big{
    width: 18%;
    background-color: #fff;
    border-right: 3px solid #f2f2f2;
    height: 100vh;
    @media screen and (max-width: 450px){
        width: 50vw;
        height: 100vh;
        // height: 100%;
        position: absolute;
        z-index: 2;
    }
}
.menulateral-small{
    width: 7%;
    background-color: #fff;
    height: 100vh;
    border-right: 3px solid #f2f2f2;  
}
.menulateral-screen-small{
    width: 100vw;
    height: 100hw;
    border-bottom: 3px solid #f2f2f2;
}
.user-bar-small{
    width: 60px;
    height: 60px;
    margin-right: 5px;
}
.user-bar{
    width: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15%;
    margin-bottom: 10%;
    @media screen and (max-width: 450px){
        margin-left: 5%;
        margin-right: auto;
    }    
}
.user-image{
    border-radius: 50%;
    margin-left: auto; 
    margin-right: 5%;
    width:50%;
    @media screen and (max-width: 450px){
        margin-left: 30%;
        width: 40%;
    }
}
.user-small-image{
    border-radius: 50%;
    margin-top: 40%;
    margin-bottom: 40%;
    margin-left: auto; 
    margin-right: auto;
    width:80%;
    @media screen and (max-width: 450px){
        width: 100%;
    }
}
.data-user{
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    margin-right: auto;
    p{
        margin: 0;
        font-size: 12px;
    }
}
.icon-small{
    width: 17%;
    @media screen and (max-width: 450px){
        width: 50%;
    }
}
bottom-menu{
    display: flex;
    background-color: red;
    flex-direction: column;
}