.home-row {
    display: flex;
    flex-direction: row;
    padding: 0;
    background-color: #F9FAFA;
    position: relative;
}
.home-column {
    display: flex;
    flex-direction: column;
    padding: 0;
    background-color: #F9FAFA;
}