@use "@oxtron/configs/variables.scss";

.indicador2{
    background-color: white;
    border: 1px solid #DFE0EB;
    border-radius: 8px;
    padding: 15px;
    color: black;
    position: relative;

    .datos{
        position: absolute;
        right: 20px;
        top: calc(50% - 25px);
        text-align: center;
        line-height: 28px;
    }
}