.logo-container{
    background-color: #020024;
    margin: 0;
    padding: 1rem;
}

.footer-mes{
    text-transform: uppercase;
    color: white;
    font-size: 1.75rem;    
}

.reporte-texto-secundario{
    font-weight: 700;
    margin-bottom: 0.35rem;
}

.reporte-texto-descripcion{
    font-size: 0.85rem;
}

.total-data{
    font-weight: 700;
    font-size: 1.5rem;
}

.titulo-reporte{
    font-family: 'inter';
    font-size: 2.25rem;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0.5rem 0 0.75rem 0;
}