@use "../../configs/variables.scss";

.rs-sidenav-nav>.rs-dropdown .rs-dropdown-toggle, .rs-sidenav-nav>.rs-sidenav-item{
    text-decoration: none;
    padding: 15px 20px !important;
}

.rs-sidenav-subtle .rs-dropdown-item.rs-dropdown-item-active, .rs-sidenav-subtle .rs-dropdown.rs-dropdown-selected-within .rs-sidenav-item-icon, .rs-sidenav-subtle .rs-sidenav-item.rs-sidenav-item-active{
    color: variables.$blanco !important;
}

.rs-sidenav-subtle .rs-dropdown-item:focus-visible, .rs-sidenav-subtle .rs-dropdown-item:hover, .rs-sidenav-subtle .rs-dropdown-toggle:focus-visible, .rs-sidenav-subtle .rs-dropdown-toggle:hover, .rs-sidenav-subtle .rs-sidenav-item:focus-visible, .rs-sidenav-subtle .rs-sidenav-item:hover, .rs-sidenav-subtle .rs-sidenav-toggle-button:focus-visible, .rs-sidenav-subtle .rs-sidenav-toggle-button:hover{
    color: variables.$primario !important;
}